*{
    margin: 0;
    padding: 0;
}
:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
    position: relative;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
    border-radius: 4px;
}

.board-container{
    max-width: 960px;
    margin: 0 auto;

}

section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;

}

.board-header{
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;

}

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: table;
    flex-wrap: nowrap;

}

.board-column{
    padding: 10px;
    flex: 1;

}

.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;

}

.board-column-title{
    text-align: center;
}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;


}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}

.display {
    /*display: grid;*/
    display: table;
    /*min-height: 500px;*/
    grid-template-rows: 5vh 60vh;
    gap:20px;
    background: #c4e3f3;
    border-radius: 5%;
    border-color: #a63a3a;
    border-style: dashed;
    align-items: start;
    z-index: 10;

}
.board-columns-container {
    display: table;
}
.board {
    display: flex;
}
.card {
    align-self: center;
}
.board-header {
    text-align: center;
    display: flex;
    justify-self: center;
    background-color: #c4e3f3;
}
.empty{
    transition: height 0.2s;
    display: table;
    width: 200px;
    height: 5px;
    top: 5px;
    /*background-color: #e30f0f;*/
    /*top: 5px;*/
    /*border: 1px solid #000000;*/

}
.empty--active{
    height:50px;
    background-color: #0fb2e3;
    border-radius: 4px;
    border: 1px solid #000000;
}


.card_button{
    text-align: right;
    margin: 1%;
}

.modal-window {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;

  background-color: #d3cfcf;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 2vh

}
.close-modal-window{
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.new-board-form {
    display: flex;
    flex-direction: column;
    gap:1vh;
    margin-left: 5vh;
}
.new-board-title {
    width: 30vh;
}
.new-column-input {
    /*display: flex;*/
    flex-direction: column;
    gap:0.5vh;
    border-radius: 4px;
}
.submit-new-board {
    width: 10vh;
    height: 3vh;
    border-radius: 4px;
}

.toggle-board-button{
    border-radius: 4px;
}

.modal-window-header {
    display: flex;
    position: absolute;
    top: 0.2rem;
    left: 8rem;
}
.public-board-expl {
    margin-left: 6px;
}
.hidden {
    display: none;
}

.archived_cards_button{
    margin-left: 1%;
}

.add_card_button{
    margin-left: 1%;
}

.board-type-header {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
}
.display {
    position: relative;
}

.refresh-button {
    position: absolute;
    top: 0;
    right: 5%;
    display: flex;
    font-size: 2rem;
    cursor: pointer;
}

.delete_board_button{
    margin-left: 1%;
}
