#boards {
    background-color: green;
}

.corner{
    float: right;
    margin-right: 5%;
}

.log{
    width: 40%;
    height: 45%;
    text-align: center;
    border-color: #3A7734;
    border-style: solid;
    padding: 5%;
    margin: 5% auto auto auto;
}

.log_second_option{
    padding-top: 5%;
}

.go_to_main_page{
    padding-top: 5%;
}

input{
    width: 50%;
}

.hidden {
    display: none;
}

.main_page {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 1fr;
    grid-column: 2;
    grid-row: 1;
}

.log_on_main_page {
    grid-column: 3;
    grid-row: 1;
}

.boards_on_main_page {
    grid-column: 1/4;
    grid-row: 2;
}

.card{
    position: relative;
    border: 1px solid #aaaaaa;
    padding: 0.5rem 0.1rem;
}
.board{
    background-color: lightgreen;
    border-block-color: #000000;
    border: 1px solid #aaaaaa;
}
.empty{
    display: inline-block;
    width: 400px;
    height: 100px;
    background-color: #7878da;
    border: 1px solid #aaaaaa;

}
body{
    position: relative;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drag{
    width: 200px;
    height: 80vh;
    display: flex;
}