#boards {
    background-color: green;
}

.corner{
    float: right;
    margin-right: 5%;
}

.log{
    width: 40%;
    height: 45%;
    text-align: center;
    border-color: #3A7734;
    border-style: solid;
    padding: 5%;
    margin: 5% auto auto;
}

.log_second_option{
    padding-top: 5%;
}

input{
    width: 50%;
}

.main_page {
    display: grid;
    grid-template-columns: 80% 10% 10%;
    grid-template-rows: 20% 95%;
    grid-column: 2;
    grid-row: 1;
}

.log_on_main_page {
    grid-column: 3;
    grid-row: 1;
}

.boards_on_main_page{
    grid-column: 1/4;
    grid-row: 2;
}