<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Skrypty dla modalu -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script type="text/javascript" src="../static/js/bootstrap/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- Koniec skryptów dla modalu -->
    <link href="../static/css/log.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="log">
    <div class="title_div">
        <h1 class="title">Login</h1>
    </div>
    <div>{{message}}</div>
    <form class="flex" action="/login" method="post">
        <p>
            Username:
            <input type="text" class="data" name="name" required>
        </p>
        <p>
            Password:
            <input type="password" class="data" name="password" required>
        </p>
        <button type="submit" class="data btn btn-outline-success">Login</button>
    </form>
    <div class="log_second_option">
        <h5>If you are not registered, use button below.</h5>
        <button class="btn btn-outline-success" onclick="location.href='/register'">Register</button>
    </div>
    <div class="go_to_main_page">
        <h5>If you want to see public boards, use button below.</h5>
        <button class="btn btn-outline-success" onclick="location.href='/'">Boards</button>
    </div>
</div>
</body>
</html>